<%= simple_form_for(@atom) do |f| %>
  <div class="field-inputs">
    <%= f.input :title %><br />
    <%= f.input :story %><br />
    <%= f.check_box :approved %> Approved
    <%= f.association :users, as: :radio_buttons if current_user && current_user.admin%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
