<%= simple_form_for(@atom) do |f| %>
  <div class="field-inputs">
    <%= f.input :title %><br />
    <%= f.input :story %><br />
   
    <% if can? :approve, @atom %>
        <%= f.check_box :approved %> Approved
        <%= f.association :users %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
