<h1>Listing atoms</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Story</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atoms.each do |atom| %>
  <tr>
    <td><%= atom.title %></td>
    <td><%= atom.story %></td>
    <td><%= link_to 'Show', atom %></td>
    <td><%= link_to 'Edit', edit_atom_path(atom) %></td>
    <td><%= link_to 'Destroy', atom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Atom', new_atom_path %>
