<h3>Listing atoms</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Story</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atoms.each do |atom| %>
  <tr>
    <td><%= atom.title %></td>
    <td><%= atom.story %></td>
    <td><%= link_to 'Show', atom %></td>
    <% if can? :update, atom %>
      <td><%= link_to 'Edit', edit_atom_path(atom) %></td>
    <% end %>  
    <% if can? :destroy, atom %>
      <td><%= link_to 'Destroy', atom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

