<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Your Blog</a>
    <ul class="nav">
    <%if !current_user.present? %>
            <li><%= link_to 'Login', login_url %>
            <li><%= link_to "Register now!", new_user_path %></li>
    <% else %>
            <li><%= current_user.email %></li>
            <li><%= link_to "logout", controller: "sessions", action: "destroy" %></li>
    <% end %>
    <% Atom.all.each do |atom| %>
        <li><%= atom.title %></li>
        <li><%= truncate( atom.story, length:250)  %></li>
    <% end %>
<li><%= link_to 'New Atom', new_atom_path %></li>
    </ul>
  </div>
</div>
